*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.body{
    width: 100%;
    background: #444444;
}

.pic{
    display: inline-block;
    border: 2px solid gray;
    padding: 5px;
    position: relative;
}

body .classify{
    position: absolute;
    top: 0;
    color: blue!important;
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .pic{
        width: 95%;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    .pic{
        width: 47%;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .pic{
        width: 30%;
    }
}
@media screen and (min-width: 1201px){
    .pic{
        width: 15%;
    }
}

.pic img{
    width: 100%;
}

.pic p{
    color: white;
    text-align: center;
}