*{
    margin: 0;
    padding: 0;
}
.nav_top {
    width: 100%;
    height: 100px;
    background-color: #5c5f60;
    line-height: 100px;
}

.nav li {
    float: left;
    display: inline-block;
    margin-left: 100px;
}

.nav li > a {
    color: white;
    font-size: 26px;
}

.nav_bottom_place {
    width: 100%;
    height: 100px;
    background-color: #444444;
}

.nav_bottom {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    padding-top: 30px;
}

.nav_bottom li {
    margin-left: 10px;
    float: left;
    display: inline-block;
}

.nav_bottom li > a {
    display: inline-block;
    /*width: 100px;*/
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #666666;
    border: #333333 2px solid;
    border-radius: 20px;
}

.nav_bottom li a p{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.pagelist{
    margin: 0 auto;
    width: 90%;
}

.pagelist span {
    padding: 3px 8px;
    color: white;
}

.pagelist a:hover {
    background: gray;
}

.pagelist a {
    padding: 3px 8px;
    margin: 0 3px;
    border: 1px solid #ccc;
    color: white;
}

.pagelist div{
    width: 400px;
    margin: 20px auto;
}
